<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('author_name')">Authors Name</th>
            <th (click)="sort('books')">Books</th>
            <th (click)="sort('twitter')">Twitter</th>
        </tr>
    </thead>
    <tr *ngFor="let cust of filteredCustomers">
        <td>
            <a [routerLink]="['/orders', cust.id]">
                {{ cust.author_name | capitalize }}
            </a>
        </td>
        <td>{{ cust.books }}</td>
        <nav class="nav">
            <td><a class="nav-link active" href="{{ cust.twitter_url}}">{{ cust.twitter }}</a></td>
        </nav>
    </tr>
    <tr *ngIf="!filteredCustomers || !filteredCustomers.length">
        <td colspan="4">No Authors found</td>
    </tr>
</table>
Number of Authors: {{ filteredCustomers.length }}
<br />